* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol,
li {
    list-style-type: none;
}

.title h2 {
    color: #282938;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 16px;
    line-height: 1;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*=======================
        common css end
========================= */

/*===========================
            nav part start 
 ============================*/

nav {
    padding: 32px 0;
    background: #1c1e53;
}

.main {
    display: flex;
    align-items: center;
}
.logo {
    width: 20%;
}
nav .nav-item {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    column-gap: 48px;
    align-items: center;
}

nav .nav-item ul {
    display: flex;
    column-gap: 32px;
}
nav .nav-item ul li a {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
nav .nav-item .btn {
    display: flex;
    justify-content: flex-end;
    column-gap: 32px;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 41px;
    padding: 16px 48px;
}

/*===========================
            nav part end 
 ============================*/

/*===========================
        banner part start 
 ============================*/

.banner {
    padding: 120px 0 120px;
    background: #1c1e53;
}

.banner .main {
    display: flex;
}

.banner .main .text {
    width: 50%;
}

.banner .main .text h1 {
    color: #fff;
    font-size: 54px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 74px;
    text-transform: capitalize;
}
.banner .main .text p {
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 28px;
    width: 562px;
    margin-bottom: 48px;
}
.banner .main .text .view-btn {
    color: #1b1c2b;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    padding: 16px 40px;
    background: #fcd980;
    border-radius: 41px;
    margin-right: 40px;
}
.banner .main .text a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.banner .main .text a i {
    margin-left: 10px;
}

.banner .main .img {
    width: 50%;
}

/*===========================
        banner part end 
 ============================*/

/*===========================
        work part start
 ============================*/
.work-part{
    padding: 128px 0;
}

.work-main {
    display: flex;
}

.work-part .work-left {
    width: 40%;
}

.title p {
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    font-family: "Poppins", sans-serif;
    width: 405px;
    margin-bottom: 16px;
}

.title a {
    color: #2405f2;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
.work-part .work-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 48px;
}

.work-part .work-right .worklist {
    width: 49%;
}

.work-part .work-right .worklist h3{
    color: #282938;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    width: 303px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}
.work-part .work-right .worklist p{
    color: #282938;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 303px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}



/*===========================
        work part end 
 ============================*/


/*===========================
        project part start 
 ============================*/
 
/*===========================
        project part end 
 ============================*/
